.player-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 1100px;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
  position: relative;
}

.player-image {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
  object-fit: cover;
  margin-bottom: 20px;
  max-height: 650px;

}

.player-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.player-info {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.player-bio {
  font-size: 1.1rem;
  margin-top: 20px;
  text-align: justify;
  max-width: 1200px;
}

.player-bio-author {
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: right;
  font-style: italic;
}

.buttons {
  display: flex;
}

.edit-button {
  bottom: 40px;
  left: 40px;
  background-color: #ffeb3b;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

.delete-button {
  bottom: 40px;
  right: 40px;
  background-color: #f44336;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.player-name {
  visibility: visible;
}

.player-info {
  visibility: visible;
}

.player-bio {
  visibility: visible;
}

.player-bio-author {
  visibility: visible;
}

.buttons {
  visibility: visible;
}

.edit-modal-open .player-name {
  visibility: hidden;
}

.edit-modal-open .buttons {
  visibility: hidden;
}

.edit-modal-open .player-info {
  visibility: hidden;
}

.edit-modal-open .player-bio {
  visibility: hidden;
}

.edit-modal-open .player-bio-author {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .player-detail .player-name {
    font-size: 22px;
  }

  .player-info {
    font-size: 14px;
  }

  .player-bio {
    font-size: 14px;
  }

  .player-bio-author {
    font-size: 12px;
  }

  .player-detail {
    height: 900px;
  }
}

@media screen and (max-width: 450px) {
  .player-detail .player-name {
    font-size: 20px;
  }

  .player-info {
    font-size: 12px;
  }

  .player-bio {
    font-size: 12px;
  }

  .player-bio-author {
    font-size: 10px;
  }

  .button {
    width: 60px;
    padding: 5px;
  }

  .edit-button {
    left: 20px;
  }

  .delete-button {
    right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .player-detail .player-name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .player-info {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .player-bio {
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 0 5px;
  }

  .player-bio-author {
    font-size: 8px;
  }

  .button {
    margin-top: 5px;
    width: 40px;
    padding: 5px;
    font-size: 10px;
  }

  .edit-button {
    left: 20px;
  }

  .delete-button {
    right: 20px;
  }

  .player-detail {
    padding: 5px;
    max-height: 600px;
    overflow: auto;
  }
}