section {
  margin-top: 10px;
  width: 1000px;
}


form {
  max-height: 500px;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 95%;
  display: flex;
  flex-direction: column;
}

form *:not(button) {
  margin-bottom: 15px;
}

form input {
  height: 30px;
}

select {
  padding: 10px 0;
  line-height: 1.2;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

select {
  border-radius: 5px;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
  border: none;
}

.submit-button {
  background-color: green;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ff0000;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.submit-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}

button {
  width: 110px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 1450px) {
  section {
    width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    width: 600px;
  }

  textarea {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  section {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  section {
    width: 200px;
  }

  input,
  textarea,
  select {
    font-size: 11px;
  }

  .submit-button {
    margin-right: 20px;
  }

  .submit-button,
  .cancel-button {
    font-size: 11px;
    padding: 2px;
  }
}

@media screen and (max-width: 450px) {
  section {
    width: 140px;
    margin: 0;
    margin-top: -10px;
  }

  form {
    padding: 10px;
  }

  input,
  textarea,
  select {
    font-size: 9px;
  }

  select,
  input {
    height: 20px;
  }

  form * {
    margin-bottom: 5px;
  }

  button {
    max-height: 10px;
    font-size: 10px;
  }
}